button{
    background-color: black;
    color: aliceblue;
    width: 20em;
    height: 4em;
    border-radius: 10px;
    margin-bottom: 1.5em;
    margin-left: 50px;
}
span{
    font-size: xx-large;
    font-style: normal;
    font-weight: 500;
}
h1{
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 7px;

}
footer{
    position: absolute;bottom: 50px;
    position: absolute;right: 135px;
    font-size: 10px;
}
img{
    width: 7em;
    margin-left: 8em; margin-right: auto;
    margin-bottom: 2em;
    margin-top: 3em;
}
.form{
    height: 2em;
} 
#email{
    height: 2em;
    margin: 10px;
    padding-left: 2em;
    background-color:rgb(214, 213, 213) ;
    color: black;
    border-radius: 7px;
    margin-bottom: 1em;
    font-size: medium;
} 
#password{
    height: 2em;
    margin: 10px;
    padding-left: 2em;
    background-color: rgb(214, 213, 213);
    color: black;
    border-radius: 7px;
    font-size: medium;
}     
#service{
    margin-bottom: 2em;
    font-size: 11px;
    margin-top: 8px;
}
div{
    margin-left: 50px;
}
#lower{
    margin-left: 50px;
}
#test{
    font-size: larger;
}
#web{
    font-size: larger;
}
body{
    background-color: rgb(247, 244, 247);
   bottom:background-color rgb(202, 14, 202);
}